.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #6ab1f7 10%, #a093f6 100%);
    overflow: hidden;
}

.login-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #28559c; /* Updated color */
    font-size: 24px; /* Increased font size */
    font-weight: bold; /* Added font weight */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Increased letter spacing */
}


.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.login-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.forgot-password-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}
